.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6rem 6rem 1rem;
}

/* .nav {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
} */

.navbar a {
  padding-right: 1rem;
}